---
defaults:
    replica-location: rpmfactory
projects:
    nova:
        original:
            location: gerrit-openstack
            name: openstack/nova
            type: gerrit
            watch-branches:
                - name: stable/liberty
                  last-tag: 12.0.2
                  replica-branch: liberty-patches
            watch-method: events
        replica:
            location: rpmfactory
            name: testproject
